<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
</head>

<body>
    <% include ../partials/nav.ejs %>

    Hello <%= username %><br>
    <a href="/signup">Signup</a> <br>
    <a href="/login">Login</a>

    <%# include ../partials/db.ejs %>
</body>

</html>
